body{
    margin: 0;
    
}

.one{
    
    border-bottom: 3px solid red;
    
    color:red;

}
.two{
    
    border-bottom: 3px solid green;
    
    color:green;
    
}
.three{
    
    border-bottom: 3px solid blue;
   
    color:blue;
    
}
.four{
   
    border-bottom: 3px solid black;
    
    color:black;
    
}

.one,
.two,
.four,
.three,p{
    margin: 10px;
    width: 50%;
    padding: 10px 20px;
    background-color: #EEE;
}